@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

:root {
    --bg-color: white;
    --color: black;
    --loading-fx-color: rgba(0, 0, 0, .2);
    --bg-color-dark: #0a0518;
    --color-dark: #706f7e;
    --loading-fx-color-dark: rgba(255, 255, 255, .6);
}

@keyframes pWebLoadingFxAnimation {
    0% {
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        transform: translate3d(30%, 0, 0);
    }
}

@keyframes pWebLoadedFxAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

#pWeb, #pWeb * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    will-change: background-color, color;
    transition: background-color .1s, color .1s, border-color .1s, fill .1s;
}

#pWeb {
    padding: 2em 1em;
    background-color: var(--bg-color);
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(10px + 0.33vw);
    color: var(--color);
    min-height: 100vh;
}

#pWeb[data-pWeb-theme='dark'] {
    background-color: var(--bg-color-dark);
    color: var(--color-dark);
}

#pWeb, #pWeb *, #pWeb *:before, #pWeb *:after {
    box-sizing: border-box;
}

#pWeb img {
    text-indent: -9999px
}

#pWeb img:not([src]) {
    opacity: 0;
}

#pWeb [data-loaded] {
    animation: pWebLoadedFxAnimation .5s linear;
}

#pWeb [data-visible] {
    transition: transform .3s ease-in-out, opacity 1s;
    will-change: transform, opacity;
}

#pWeb [data-visible=false] {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100vh) scale(.1, .1);
}

#pWeb [data-visible=true] {
    visibility: visible;
    opacity: 1;
    transform: none;
    z-index: 9999;
}

#pWeb [data-loading-fx] {
    color: rgba(255, 255, 255, 0);
    border: none !important;
}

#pWeb [data-loading-fx]:before, #pWeb [data-loading-fx]:after {
    display: block;
    position: absolute;
    border-radius: 100px;
    content: '';
}

#pWeb [data-loading-fx]:before {
    z-index: 1;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    background: var(--loading-fx-color);
}

#pWeb[data-pWeb-theme='dark'] [data-loading-fx]:before {
    background: var(--loading-fx-color-dark);
    opacity: .2;
}

#pWeb [data-loading-fx]:after {
    z-index: 2;
    width: 250%;
    margin-left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: pWebLoadingFxAnimation .7s linear infinite;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}

#pWeb[data-pWeb-theme='dark'] [data-loading-fx]:after {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 54%) 50% 50%;
}

#pWeb [data-loading-fx] {
    position: relative;
}

#pWeb .fit-img {
    position: relative;
    overflow: hidden;
}

#pWeb .fit-img img {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pWeb button {
    cursor: pointer;
}

#pWeb-intro {
    margin: 0 auto .3em;
    max-width: 600px;
}

#pWeb-intro {
    text-align: center;
}

#pWeb-img-container {
    margin: 0 auto 1.3em;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 100%;
    will-change: border-radius;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

#pWeb-img-container, #pWeb-img-container img {
    transition: .5s;
}

#pWeb-img-container img {
    filter: grayscale(100%);
    will-change: transform;
}

#pWeb-img-container:hover {
    border-radius: 25%;
}

#pWeb-img-container:hover img {
    filter: none;
    transform: scale(1.2) translate(2px);
}

#pWeb-name {
    margin-bottom: .1em;
    font-size: 3.2em;
    font-weight: 400;
}

#pWeb-title {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 200;
}

#pWeb-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

#pWeb-video, #pWeb-video iframe {
    width: 100%;
    border-radius: 15px;
}

#pWeb-video iframe {
    height: 400px;
}

#pWeb-contents {
    padding: 0 20px;
}

#pWeb .pWeb-content {
    margin-bottom: 1em;
    text-align: left;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.5em;
    color: var(--color);
}

[data-pWeb-theme='dark'] #pWeb .pWeb-content {
    color: var(--color-dark);
}

#pWeb .pWeb-content:after {
    margin-top: 1em;
    display: block;
    opacity: .2;
    text-align: center;
    font-size: .1em;
    content: '● ● ●';
}

#pWeb .pWeb-content:last-child:after {
    display: none;
}

#pWeb .pWeb-content li {
    margin-bottom: 1em;
}

#pWeb .pWeb-content, #pWeb .pWeb-content a {
    color: var(--color);
}

#pWeb[data-pWeb-theme='dark'] .pWeb-content, #pWeb[data-pWeb-theme='dark'] .pWeb-content a {
    color: var(--color-dark);
}

#pWeb .pWeb-content a {
    position: relative;
    font-weight: 400;
    transition: .1s;
}

#pWeb .pWeb-content a, #pWeb .pWeb-content a:after {
    display: inline-block;
}

#pWeb .pWeb-content a:after {
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: 0;
    width: calc(100% + 4px);
    height: 4px;
    background: var(--color);
    opacity: .2;
    content: '';
    transition: .15s;
}

#pWeb[data-pWeb-theme='dark'] .pWeb-content a:after {
    background: var(--color-dark);
}

#pWeb .pWeb-content a:hover:after {
    height: 1.3em;
}

#pWeb-social {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

#pWeb-social a {
    display: block;
    margin: 3px;
    padding: 3px;
    will-change: opacity;
    transition: opacity .2s;
}

#pWeb-social a:hover {
    opacity: .6;
}

#pWeb-social a svg path {
    fill: var(--color);
}

[data-pWeb-theme='dark'] #pWeb-social a svg path {
    fill: var(--color-dark);
}

#pWeb-open-posts-handle {
    padding: .66em 1.3em;
    border: var(--color) 1px solid;
    border-radius: 25px;
    font-size: .9em;
    transition: border-radius .2s;
    -webkit-transition: border-radius .2s;
}

[data-pWeb-theme='dark'] #pWeb-open-posts-handle {
    border-color: var(--color-dark);
    color: var(--color-dark);
}

#pWeb-open-posts-handle:hover {
    border-radius: 10px;
}

#pWeb-close-posts-handle {
    position: fixed;
    top: 1em;
    right: 0;
    width: 5em;
    height: 5em;
    box-sizing: border-box;
    line-height: 5em;
    display: inline-block;
}

#pWeb-close-posts-handle:before, #pWeb-close-posts-handle:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -.15em;
    margin-left: -2.5em;
    width: 4em;
    height: .3em;
    background-color: var(--color);
    transition: all 0.25s ease-out;
}

[data-pWeb-theme='dark'] #pWeb-close-posts-handle:before, [data-pWeb-theme='dark'] #pWeb-close-posts-handle:after {
    background-color: var(--color-dark);
}

#pWeb-close-posts-handle:after {
    transform: rotate(-135deg);
}

#pWeb-close-posts-handle:hover:before, #pWeb-close-posts-handle:hover:after {
    transform: rotate(0deg);
}

#pWeb-posts {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.2em 4em;
    background: var(--loading-fx-color);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#pWeb-posts-title {
    margin-bottom: .6em;
    padding-bottom: .6em;
    font-size: 2.6em;
    font-weight: 400;
    text-align: center;
    border-bottom: white 1px solid;
}

#pWeb #card {
    position: relative;
    width: 75%;
    max-width: 400px;
    padding: 30px;
    border: var(--loading-fx-color) 1px solid;
    border-radius: 15px;
    box-shadow: var(--loading-fx-color) 0 0 10px;
}

#pWeb #curator-feed {
    width: 100%;
    min-height: calc(100vh - 1em);
}

#pWeb .crt-logo {
    opacity: .3;
}

#pWeb[data-pWeb-theme='dark'] .crt-logo {
    color: var(--color-dark);
}

#pWeb .crt-post {
    padding: 10px;
    background: var(--bg-color);
    border-radius: 10px !important;
}

#pWeb[data-pWeb-theme='dark'] .crt-post {
    background: rgba(255, 255, 255, .1);
}

#pWeb[data-pWeb-theme='dark'] .crt-post, #pWeb[data-pWeb-theme='dark'] .crt-post * {
    color: var(--bg-color);
}

#pWeb .crt-load-more {
    padding: 10px;
    border-radius: 80px !important;
    background-color: var(--bg-color);
    color: var(--color);
}

#pWeb[data-pWeb-theme='dark'] .crt-load-more {
    opacity: .3;
}

#pWeb .crt-post a {
    font-weight: 500;
}

#pWeb [data-visible=false] #curator-feed, #pWeb [data-visible=false] #pWeb-close-posts-handle {
    display: none;
}

#pWeb-theme-handle {
    position: fixed;
    z-index: 99999999;
    top: 20px;
    left: 20px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    transition: .2s;
}

#pWeb-theme-handle:hover {
    box-shadow: var(--loading-fx-color) 0 0 5px;
}

[data-pWeb-theme='dark'] #pWeb-theme-handle:hover {
    box-shadow: var(--loading-fx-color-dark) 0 0 10px;
}

#pWeb-theme-handle i {
    padding: 5px;
}

#pWeb-theme-handle svg path {
    fill: var(--color);
}

[data-pWeb-theme='dark'] #pWeb-theme-handle svg path {
    fill: var(--color-dark);
}